.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: to-rem(30);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: to-rem(30);
  transition: all 200ms ease-in;

  @include breakpoint-down("md") {
    min-height: 350px;
    padding: to-rem(15);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &__date {
    color: var(--grey-4);
    line-height: 1;
    margin-bottom: to-rem(5);
  }

  &__title {
    margin-bottom: to-rem(20);
    line-height: 1.25;
  }
}

.light-theme {
  .blog-card__title,
  .card__subtitle {
    color: var(--white);
  }
}
