.blog-card {
  &__title {
    margin-bottom: 1rem;
  }

  .card__image {
    img {
      transition: all 200ms ease-in;
    }

    img:hover {
      transform: scale(1.1);
    }
  }

  &__date {
    color: var(--dark-grey);
  }
}

.dark-theme {
  .blog-card__date {
    color: #d7d7d7;
  }
}
