.button {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-transform: none;
  appearance: none;
  border: none;
  background-color: $primary;
  color: $white;
  padding: 0.5rem 1rem;
  transition: all 200ms ease;

  &:hover {
    text-decoration: none;
    background-color: rgba($primary, 0.9);
  }
}
