.button {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-transform: none;
  appearance: none;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  min-width: 150px;
  padding: 0.5rem 2rem;
  text-align: center;
  transition: all 200ms ease;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.button--secondary {
  @extend .button;
  background-color: var(--white);
  color: var(--text-color);
}

// Inmune to theme change
.button--white {
  @extend .button;
  background-color: var(--white);
  color: var(--black);
}
