.card {
  display: flex;
  flex-direction: column;

  &__image {
    a {
      display: block;
    }
  }

  &__body {
    margin: 2rem 0 1rem 0;
    padding: 0 1rem;
  }

  &__footer {
    margin: 0 0 2rem 0;
    padding: 0 1rem;
  }

  &__title {
    line-height: 1;
  }
}
