.footer {
  margin-top: 2rem;

  &__content {
    @extend .container;
    padding: 1rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--text-color);

    * {
      color: var(--text-color);
    }
  }

  &__social-list {
    &-item {
      font-size: 1.2rem;

      svg {
        fill: var(--text-color);
      }
    }
  }
}
