.footer {
  margin-top: 2rem;
  background-color: #ececec;

  &__content {
    @extend .container;
    padding: 1rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-list {
    &-item {
      font-size: 1.2rem;
    }
  }
}
