.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: all 400ms ease;

  &.has-background {
    background-color: var(--bg-color);
  }

  &__content {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
  }

  &__logo {
    max-width: 50px;
  }

  &__menu {
    display: flex;

    &-item {
      margin: 0 0.5rem;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.ignore-theme {
    .navbar__menu {
      &-item {
        a {
          color: var(--white);
        }
      }
    }
  }
}
