.navbar {
  &__content {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
    border-bottom: 1px solid var(--text-color);
  }

  &__logo {
    max-width: 50px;
  }

  &__menu {
    display: flex;

    &-item {
      margin: 0 0.5rem;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
