button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  display: inline-block;
  text-transform: none;
  appearance: none;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 1rem;
  transition: all 200ms ease;

  &:hover {
    opacity: 0.9;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
